@model CategoriesViewModel

<div class="three"><h1>Всі категорії</h1></div>
<div class="row mt-5 mb-2">
    @{
        foreach (Category category in Model.All_categories)
        {
            @Html.Partial("AllCategories", category)
        }
    }
</div>