    <body id="page-top">
        <!-- Header-->
        <header class="contact">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Ласкаво просимо</h1>
                <p class="lead">Тут Ви можете придбати чудові м'ясні товари</p>
                <a class="btn btn-lg btn-light" href="#about">Ознайомитись</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Про нас</h2>
                        <p class="lead">Ми Вам пропонуємо найкращі товари, що жоден інший продавець не зможе Вам запропонувати:</p>
                        <ul>
                            <li>Курятина</li>
                            <li>Яловичина</li>
                            <li>Свинина</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="contact" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Що ми пропонуємо:</h2>
                        <p class="lead">Ви можете замовити або ж скористатися можливістю самовивозу</p>
                        <p class="lead">Для самовивозу зв'яжіться з нами через контакти або ж зробіть замовлення на сайті та вкажіть в пункті доставки "самовивіз"</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-lg btn-light" href="#contact" >Контакти</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Зв'яжіться з нами</h2>
                        <p class="lead">Номер телефону <a href="tel:+380937406977">+380937406977</a></p>
                        <p class="lead">Електронна пошта <a href="mailto: illiastetsenko@knu.ua">illiastetsenko@knu.ua</a></p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>