.portion{
    text-align: right;
}
.infopos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
    margin-left: auto;
    margin-right: auto;
}
.infosec{
    background-color: #FA1166;
}
.infoimg{
    
    max-width: 100%;
    height: auto;
}