<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
</head>
<body style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <header style = "
    padding-top: 0px;
    padding-bottom: 0px;
">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Home_Page">Магазин</a>
                    <span class="navbar-toggler-icon"></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Home_Page">Головна сторінка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Meats" asp-action="FullListOfProducts">Всі товари</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Categories" asp-action="ViewCategories">Категорії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ShopCart" asp-action="Index">Кошик</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-danger me-2">Увійти</button>
                    <button type="button" class="btn btn-danger">Зареєструватись</button>
                </div>
            </div>
        </nav>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-end"><a href="#">До гори</a></p>
    </footer>
</body>
</html>