<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <header style = "
    padding-top: 0px;
    padding-bottom: 0px;
">
    <div id="PlaceHolderHere"></div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Home_Page">Магазин</a>
                    <span class="navbar-toggler-icon"></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Home_Page">Головна сторінка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Meats" asp-action="FullListOfProducts">Всі товари</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Categories" asp-action="ViewCategories">Категорії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ShopCart" asp-action="Index">Кошик</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Categories" asp-action="Index">Діаграма</a>
                        </li>
                    </ul>
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="col-md-3 text-end">
                        <a class="btn btn-success ms-2" asp-controller="Account" asp-action="Login">Увійти</a>
                        <a class="btn btn-outline-danger" asp-controller="Account" asp-action="Register">Зареєструватись</a>
                    </div>  
                }
                else{
                    <div class= "col-md-3 text-end">
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input type="submit" class="btn btn-outline-danger" value="Вбити Путіна"/>
                        </form>
                    </div>
                }
            </div>
        </nav>
    </header>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <div class="container mt-5">
        @RenderBody()
        @RenderSection("scripts")
    </div>
    <footer class="container">
        <p class="float-end"><a href="#">До гори</a></p>
    </footer>
</body>
</html>
