@model Category

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.Img" alt="@Model.CategoryName" />
    <div class="row" style="text-align:center;"><h4>@Model.Description</h4></div>
    <div class="row" style="text-align: center;"><p><a class="btn btn-warning" asp-conоtroller="Meats" asp-action="ListOfProducts" 
        asp-route-id="@Model.Id">Переглянути</a></p></div>
</div>