@model MeatsViewModel
<div class="three"><h1>@Model.Message</h1></div>
<div class="row mt-5 mb-2">
    @{
        foreach (Meat meat in Model.meats)
        {
            @Html.Partial("AllMeat", meat)
        }
    }
</div>