@model MeatsViewModel
<div class="three"><h1>Всі страви</h1></div>
<div class="row mt-5 mb-2">
    @{
        foreach (Meat meat in Model.All_Products)
        {
            @Html.Partial("AllMeat", meat)
        }
    }
</div>